@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-mainColor: #5f59c3;
}

body {
  font-family: "Cairo", sans-serif;
}

/* fix hover in mobile */
@custom-variant hover (&:hover);

/* change mapbox popup style */
.mapboxgl-popup-content {
  padding: 0 !important;
}
.mapboxgl-popup-close-button {
  font-size: 35px;
  padding: 10px;
}

/* google popup */
.gm-style-iw {
  /* padding: 0 !important; */
  .gm-style-iw-d {
    overflow: auto !important;
  }
}
/* car label */
.car-label {
  background: white;
  color: #212121;
  border-radius: 6px;
  padding: 4px 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

@layer {
  .mainBtn {
    @apply bg-mainColor text-white text-lg font-semibold py-2 px-4 rounded-lg shadow-md shadow-mainColor
    hover:shadow-lg transition-all duration-300 cursor-pointer;

    &.success {
      @apply bg-green-600 shadow-green-600;
    }

    &.error {
      @apply bg-red-700 shadow-red-700;
    }
  }
}
