@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-mainColor: #5f59c3;
}

/* fix hover in mobile */
@custom-variant hover (&:hover);

/* change mapbox popup style */
.mapboxgl-popup-content {
  padding: 0 !important;
}

.mapboxgl-popup-close-button {
  font-size: 35px;
  padding: 10px;
}

.radix-dropdown {
  position: fixed !important;
  left: 45px !important;
  min-width: max-content;
}

@layer {
  .mainBtn {
    @apply bg-mainColor text-white text-lg font-semibold py-2 px-4 rounded-lg shadow-md shadow-mainColor
    hover:shadow-lg transition-all duration-300 cursor-pointer;
  }
}
