@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-mainColor: #5f59c3;
  --color-mainGreen: #1dbf73;
  --color-mainYellow: #ffd700;
  --color-mainRed: #ff0000;
}

[data-theme="light"] {
  --color-primary: var(--color-mainColor);
  --color-success: var(--color-mainColor);
}

body {
  font-family: "Cairo", sans-serif;
}

/* fix hover in mobile */
@custom-variant hover (&:hover);

/* change mapbox popup style */
.mapboxgl-popup-content {
  padding: 0 !important;
}
.mapboxgl-popup-close-button {
  font-size: 35px;
  padding: 10px;
}

/* google popup */
.gm-style-iw {
  /* padding: 0 !important; */
  .gm-style-iw-d {
    overflow: auto !important;
  }
}
/* car label */
.car-label {
  background: white;
  color: #212121;
  border-radius: 6px;
  padding: 4px 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

@layer {
  .mainBtn {
    @apply bg-mainColor text-white text-lg font-semibold py-2 px-4 rounded-lg shadow-md shadow-mainColor
    hover:shadow-lg transition-all duration-300 cursor-pointer;

    &.success {
      @apply bg-green-600 shadow-green-600;
    }

    &.error {
      @apply bg-red-700 shadow-red-700;
    }
  }
}

.htmlContent {
  /* overflow-wrap: break-word;
  overflow-x: auto; */

  iframe {
    max-width: 100%;
    margin-inline: auto;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  ul {
    list-style: disc;

    li {
      margin-inline-start: 1.25rem;
    }
  }

  ol {
    list-style: decimal;

    li {
      margin-inline-start: 1rem;
    }
  }
}

/* Base range reset */
.dual-range {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  pointer-events: none; /* Allows both sliders overlap */
  position: absolute;
  left: 0;
  right: 0;
}

/* TRACK (invisible, because we use custom gradient bar) */
.dual-range::-webkit-slider-runnable-track {
  height: 0;
}

/* THUMB STYLE */
.dual-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: all; /* Allow interaction */
  border: 3px solid white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

/* Colors */
.thumb-green::-webkit-slider-thumb {
  background: #1dbf73;
}
.thumb-yellow::-webkit-slider-thumb {
  background: #ffd700;
}
.thumb-red::-webkit-slider-thumb {
  background: #ff0000;
}

/* Command Response Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out;
}